@font-face {
  font-family: 'RockSalt';
  src: url('../fonts/RockSalt/RockSalt-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'TT Bluescreens';
  src: url('../fonts/TTBluescreens/TTBluescreens-Medium.svg') format('svg');
  font-weight: 500;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/Titillium/TitilliumWeb-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/Titillium/TitilliumWeb-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/Titillium/TitilliumWeb-Bold.ttf');
  font-weight: 700;
}

h1, .h1 {
  font-size: 140px;
  font-family: 'Titillium Web';
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1;
}

h2, .h2 {
  font-size: 48px;
  font-family: 'Titillium Web';
  font-weight: 600;
}

h3, .h3 {
  font-size: 35px;
  font-family: 'Titillium Web';
  font-weight: 600;
}

h4, .h4 {
  font-size: 26px;
  font-family: "Titillium Web";
  font-weight: 600;
}