.row {
  @include display-grid;

  position: relative;
  @include media-breakpoint-only(xs) {
    grid-template-columns: $grid-margin-xs minmax(0, auto) $grid-margin-xs;
  }
  @include media-breakpoint-only(sm) {
    grid-template-columns: $grid-margin-sm minmax(0, auto) $grid-margin-sm;
  }
  @include media-breakpoint-only(md) {
    grid-template-columns: $grid-margin-md minmax(0, auto) $grid-margin-md;
  }
  @include media-breakpoint-only(lg) {
    grid-template-columns: $grid-margin-lg minmax(0, auto) $grid-margin-lg;
  }
  @include media-breakpoint-only(xl) {
    grid-template-columns: $grid-margin-xl minmax(0, auto) $grid-margin-xl;
  }
  @include media-breakpoint-only(xxl) {
    grid-template-columns: 1fr $max-content-width-row  1fr;
  }
  @include media-breakpoint-only(xxxl) {
    grid-template-columns: 1fr $max-content-width-row  1fr;
  }

  .container {
    grid-column: 2/3;
    @include display-grid;
    grid-template-columns: repeat(12, 1fr);
    @include media-breakpoint-up(lg) {
      grid-column-gap: 16px;
      grid-template-columns: repeat(12, 1fr);
    }

    .span-6 {
      grid-column: 1/13;
      @include media-breakpoint-up(lg) {
        grid-column: 4/10;
      }
    }

    .span-8 {
      grid-column: 1/13;
      @include media-breakpoint-up(lg) {
        grid-column: 3/11;
      }
    }

    .span-10 {
      grid-column: 1/13;
      @include media-breakpoint-up(lg) {
        grid-column: 2/12;
      }
    }

    .span-12 {
      grid-column: 1/13;
    }
  }

  .container-fluid {
    grid-column: 1/4;
  }
}